@import url('//at.alicdn.com/t/font_820300_eriscgulsl.css');

[class^="icon-v-"] {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

